@import "tailwindcss";

:root {
  --action-blue: #0052CC;
  --success-green: #00875A;
  --error-red: #DE350B;
}

body {
  margin: 0;
  background-color: #1A1A1A; /* Fondo oscuro pro */
  font-family: sans-serif;
}